.gallery {
  &__file {
    max-height: 160px;
    object-fit: cover;
    transition: all 0.1s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__file__wrapper {
    position: relative;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
    }
  }

  &__file__selected {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(242, 244, 247, 0.7), transparent);
    padding: 5px;
    transition: all 0.5s;
  }

  &__file__primary {
    color: green;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, opacify(#70bbfd, 0.4), transparent 70%);
    padding: 5px;
    transition: all 0.5s;
    p {
      color: darken(white, 5%);
      font-size: 1.3em;
    }
  }

  &__file__info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f2f4f7;
    padding: 5px;
  }

  &__file__title {

  }

  &__controls__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 1;
    display: flex;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      height: 100%;
    }
  }

  &__controls__wrapper.controls-visible {
    visibility: visible;
  }

  &__controls {
    z-index: 2;
    margin: auto;
    .make-primary {
      color: green;
    }
    .make-primary:hover {
      transform: scale(1.2);
    }
    .remove {
      color: red;
    }
    .remove:hover {
    transform: scale(1.2);
    }
  }
}
