.tutorials {
  &__content {
    &__card {
      height: 400vh;
    }
  }

  &__sidebar {
    position: sticky;
    top: 100px;
    background-color: white;
    padding: 20px;
    height: 100%;

    ul {
        list-style: none;
    }

    li {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
