@import 'settings/variable';  //themes' colors

//base...
@import 'generic/normalize.scss';
@import 'generic/box-sizing.scss';
@import './base/scaffolding';         // styles of base elements
@import './base/typography';          // base styles of h1-h6, p, span

//components...
@import './component/alert';
@import 'component/btn';
@import './component/card';
@import './component/check-box';
@import './component/collapse';
@import './component/sidebar';
@import './component/topbar';
@import './component/load';
@import './component/form';
@import './component/select-options';
@import './component/notification';
@import './component/modal';
@import './component/tour-studio';
@import './component/fullscreen-map';
@import './component/tour-panel';
@import './component/map-popover';
@import './component/tours-panel';
@import './component/workshop';
@import './component/tabs';
@import './component/timeline';
@import './component/material-form';
@import './component/data-suite';
@import './component/table';
@import './component/material-table';

//pages...
@import 'containers/account';
@import 'containers/profile';

//objects...
@import 'objects/layout.scss';

